:root {
    --text: #00ABB3;
    --main:	transparent;
    --button: #257c80;
    --sub-main: #434242;
    --background: #222222;
    --stickman: #222222;
    --unit: "g";
    --unit-ps: "g";
    --particle-pos-top: 482px;
    --particle-pos-left: 250px;
    --shine: "slide 3s linear infinite alternate";
}

* {
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: var(--background);
    margin: 0;
    overflow: hidden;
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--main);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

h1 {
    margin: 0;
}

#clicker {
    position: absolute;
    width: 380px;
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
    z-index: 2;
}

@keyframes shakeProtein {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0);
    }
}

@font-face {
    font-family: Robinson;
    src: url("../media/robinson.otf") format("opentype");
}

.amount {
    color: var(--text);
    -webkit-user-drag: none;
    user-select: none;
    font-size: 150px;
    width: 500px;
    top: -60px;
    text-align: center;
    position: absolute;
    font-family: Robinson;
    font-weight: 500;
}

.amount::after {
    content: var(--unit);
    font-size: 70px;
}

.amount-small {
    color: var(--text);
    -webkit-user-drag: none;
    user-select: none;
    font-size: 40px;
    width: 500px;
    top: 70px;
    text-align: center;
    position: absolute;
    font-family: Robinson;
    font-weight: 500;
    transform: scale(1, 0.6);
}

.cps-amount {
    color: var(--text);
    -webkit-user-drag: none;
    user-select: none;
    font-size: 80px;
    width: 500px;
    bottom: 25px;
    text-align: center;
    position: absolute;
    font-family: Robinson;
    font-weight: 500;
    user-select: none;
    -webkit-user-drag: none;
}

.cps-amount::after {
    content: var(--unit-ps);
    font-size: 50px;
}

.per-second {
    font-family: Robinson;
    position: absolute;
    color: var(--text);
    bottom: 0px;
    transform: scale(1, 0.6);
    font-size: 45px;
    user-select: none;
    -webkit-user-drag: none;
}




left {
    position: absolute;
    height: 100vh;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    border-right: 5px solid var(--main);
}

left::after {
    image-rendering:-moz-crisp-edges;
    filter: contrast(110%);
    content: "";
    position: absolute;
    right: -10px;
    z-index: 2;
    display: block;
    height: 100vh;
    width: 40px;
    background-image: url("../media/sides.webp");
    background-size: contain;
}

.container {
    position: absolute;
    height: 600px;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


product {
    align-items: center;
    cursor: pointer;
    background-color: var(--sub-main);
    height: 120px;
    width: inherit;
    opacity: 0.9;
    display: flex;
    position: relative;
}

product.enable {
    opacity: 1;
    transition: 0.1s ease-in;
    background-color: var(--button);
}

product img {
    margin-left: 2px;
    height: 110px;
    user-select: none;
    -webkit-user-drag: none;
}

product .title {
    user-select: none;
    font-family: Robinson;
    letter-spacing: 1px;
    text-align: left;
    width: 188px;
    left: 215px;
    top: 40%;
    transform: translateY(-50%) scale(2, 1);
    position: absolute;
    color: white;
    font-size: 30px;
}

product .cost {
    user-select: none;
    font-family: Robinson;
    letter-spacing: 1px;
    left: 155px;
    top: 50%;
    position: absolute;
    color: white;
    font-size: 40px;
    display: flex;
}

product .cost::before {
    content: "";
    display: flex;
    position: absolute;
    left: -38px;
    top: 10px;
    height: 34px;
    width: 34px;
    background-image: url("../media/icon.webp");
    background-size: cover;
}

.container-bg {

    overflow: hidden;
    position: absolute;
    width: inherit;
    height: 100%;
    z-index: -1;
}

.emoji {
    user-select: none;
    opacity: 1;
    position: absolute;
    transition: 1s;
}

middle {
    width: calc(100% - 1140px);
    height: 100vh;
    display: block;
    position: absolute;
    left: 705px;
}

middle::after {
    top: 0;
    image-rendering:-moz-crisp-edges;
    filter: contrast(110%);
    content: "";
    position: absolute;
    right: -40px;
    z-index: 2;
    display: block;
    height: 100vh;
    width: 40px;
    background-image: url("../media/sides.webp");
    background-size: contain;
}

bar {
    bottom: 250px;
    width: 100%;
    height: 50px;
    background-image: url("../media/sidesRotated.webp");
    background-size: contain;
    display: flex;
    position: absolute;
}

middle bottom {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    height: 250px;
    bottom: 0;
    image-rendering:crisp-edges;
    background: url("../media/upgradesbg.webp") center center;
    background-size: cover;
    position: absolute;
    overflow-y: scroll;
}


upgrade {
    background-color: rgb(0, 0, 0);
    font-family: Robinson;
    font-size: 40px;
    height: 99px;
    width: 99px;
    min-width: 99px;
    min-height: 99px;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 30px;
    cursor: pointer;
    z-index: 3;
    border-radius: 100px;
    box-shadow: -4px 4px 4px rgb(0, 0, 0, 0.5);
    transition: 0.2s;
}

upgrade .unit {
    margin-top: auto;
    font-size: 30px;
    margin-bottom: 2px;
}

upgrade .price {
    position: absolute;
    bottom: -20px;
    display: flex;
    transition: 0.2s;
    transform: scale(1, 0.5);
}

upgrade .price:after {
    content: var(--upgrade-unit);
    font-size: 30px;
}


upgrade img {
    filter: drop-shadow(0 0 10px rgb(255, 255, 255, 0.3));
    transform: translate(2px, -2px);
    height: 60px;
    transition: 0.2s;
    user-select: none;
}

upgrade:hover {
    padding: 30px;
    margin: 0px;
    transform: translate(-4px, 4px);
    box-shadow: none;
}

upgrade:hover img {
    transform: translatex(-30px) scale(120%); 
}

upgrade:hover .info {
    transition: 0.1s;
    opacity: 1;
}

upgrade:hover .multiplier {
    transition: 0.1s;
    opacity: 1;
}

upgrade:hover .price {
    transform: translateY(-10px) ;
}

upgrade .info {
    transition: 0.2s;
    opacity: 0;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translatex(-50%);
    width: fit-content;
    font-size: 24px;
}

upgrade .multiplier {
    color: rgb(255, 61, 152);
    transition: 0.2s;
    opacity: 0;
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translatey(-50%);
    width: fit-content;
    font-size: 80px;
}

@keyframes clickEffectAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translatey(100px);
    }
}

.particles {
    height: 100vh;
    width: inherit;
}

.click-effect {
    transform: scale(1, 0.75);
    color: white;
    font-family: Robinson;
    font-size: 50px;
    margin-top: -110px;
    z-index: 20;
    display: block;
    position: absolute;
    user-select: none;
    pointer-events: none;
    opacity: 0;
    animation: clickEffectAnimation 1s forwards;
}


top {
    background-image: url(../media/bg.webp);
    background-size: 100vh;
    background-repeat: no-repeat;
    background-position: 0 100%;
    width: 100%;
    height: calc(100vh - 295px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-amount {
    font-family: Robinson;
    color: rgb(209, 209, 209);
    transform: scale(1.5, 1);
    position: absolute;
    right: 30px;
    font-size: 30px;
}

.product-amount::after {
    font-size: 20px;
    content: "x";
}

product .unit {
    margin-top: auto;
    font-size: 30px;
    margin-bottom: 2px;
}



right top {
    position: absolute;
    flex-direction: column;
    background-color: var(--background); 
    background-image: none;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 395px;
    top: 0;
    right: 0;
    justify-content: flex-start;
    align-items: center;
}

right bottom {
    border: none;
    position: absolute;
    flex-direction: column;
    background-color: var(--background); 
    background-image: none;
    height: 255px;
    width: 400px;
    bottom: 0;
    right: -5px;
    justify-content: flex-start;
    align-items: center;
}

.particle {
    pointer-events: none;
    background-color: rgb(62, 62, 62);
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 10px;
    display: block;
    z-index: 0;
    transition: 0.5s ease-in;
    top: var(--particle-pos-top);
    left: var(--particle-pos-left);
}

@media (max-width: 1680px) {
    left {
        width: 595px;
    }
    middle {
        width: calc(100% - 1040px);
        left: 605px;
    }
}

@media (max-width: 1570px) {
    left {
        width: 495px;
    }
    middle {
        width: calc(100% - 940px);
        left: 505px;
    }
    top {
        background-size: cover;
        background-position: top;
        background-image: url(../media/bg2.webp);
    }
}

@media (max-height: 830px) {
    middle bottom {
        height: 150px;
    }
    top {
        height: calc(100vh - 150px);
    }

    .body {
        bottom: 205px !important;
    }
}
/* settings */
.left-button {
    position: absolute;
    bottom: 10%;
    left: -45px;
    width: 100px;
    border: none;
    border-radius: 40px;
    height: 50px;
    background-color: rgba(22, 22, 22, 0.5);
    box-shadow: -3px 3px 5px rgb(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
    transition: 0.2s;
    cursor: pointer;
}

.left-button:hover {
    left: -20px;
}
.left-button img {
    padding: 5px;
    height: 40px;
    filter: invert(-1);
}
.left-button:hover img{
    animation: rotate 5s linear infinite;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#save {
    visibility: hidden;
    bottom: 20px;
}

#save > img {
    height: 30px;
    width: 30px;
    margin-right: 4px;
}

settings {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.4);
    display: block;
    visibility: hidden;
    z-index: 1030;
}

popup {
    visibility: hidden;
    z-index: 1031;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    background-color: var(--background);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

setting {
    position: relative;
    width: 120%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(38, 38, 38);
    margin-top: 5px;
}

setting:hover{
    background-color: #018991;
}

setting > button {
    height: 35px;
    cursor: pointer;
    right: 10%;
    position: absolute;
}
setting > select {
    right: 10%;
    position: absolute;
}

label[for="input"]{
    padding: 5px 6px 5px 6px;
}

setting > label {
    text-align: center;
    cursor: pointer;
    margin-bottom: -30px;
    margin-right: 36px;
}

.text {
    position: absolute;
    left: 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: rgb(234, 234, 234);
    letter-spacing: 1px; 
}

.big-text {
    transform: scale(1.5, 1);
    font-size: 30px;
    font-family: Robinson;
    color: rgb(234, 234, 234);
    margin-bottom: 5px;
    letter-spacing: 1px;
}

popup hr {
    width: 40px;
    margin: 0;
    margin-bottom: 10px;
}

.email {
    position: absolute;
    bottom: 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.username {
    position: absolute;
    bottom: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

@keyframes slide {
    0% {
        left: -500px;
        top: 0;
    }
    50% {
        left: 200px;
        top: 0px;
    }
    100% {
        left: 500px;
        top: 0;
    }
}
#performance{
    position: absolute;
    bottom: 15px;
    font-size: 13px;
    color: #838181;
    font-family: Arial;
    user-select: none; 
}
/* settings */

.shiny::before {
    filter: blur(3px);
    opacity: 0.7;
    z-index: 30;
    content: '';
    position: absolute;
    top: 0;
    left: -100px;
    width: 70px;
    height: 100%;
    background: rgba(255,255,255, 0.3);
    transform: skewX(-30deg);
    animation:  var(--shine);
    background: linear-gradient(
        to right, 
        rgba(235, 235, 235, 0.13) 0%,
        rgba(255, 255, 255, 0.13) 77%,
        rgba(255, 255, 255, 0.5) 92%,
        rgba(255, 255, 255, 0.0) 100%
    );
}

.shiny {
    height: 110px;
    z-index: 400;
    background: radial-gradient(circle, rgba(246,214,31,1) 0%, rgba(235,196,21,1) 71%);
}
.shiny > * {
    color: rgb(33, 33, 33) !important;
}
.shiny > .cost::before {
    filter: invert(100%);
}

.shiny > img {
    filter: saturate(150%) brightness(120%) hue-rotate(20deg);
}

#resetData {
    background-color: rgb(194, 79, 79);
}

select, #saveFile, label[for="input"], setting button{
    background-color:#434242;
    width: 100px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    outline: none;
    cursor: pointer;
    font-family: arial;
    font-size: 13px;
    height: 35px;
}
#saveFile:hover, label[for="input"]:hover, setting button:hover{
    transform: scale(105%);
    transition: 0.2s;
}

.fileButtons {
    display: flex;
    height: auto;
    width: 100px;
    flex-direction: row;
    position: absolute;
    right: 10%;
}

input[type=file] {
    margin-top: 20px;
    visibility: hidden;
}

label[for="input"] {
    background-image: url("../media/upload.webp");
    background-size: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    padding: 0;
}

#saveFile {
    background-image: url("../media/save.webp");
    background-size: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    left: 0;
}

